In [50]:
import torch
from torch.autograd import Variable

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [51]:
df = pd.read_csv('movie_data.csv')

In [52]:
df

,Movie,Month,Day,Year,Budget($M),Domestic Gross($M),Worldwide Gross($M)
0,Avatar,Dec,18,2009,425.000000,760.507625,2783.918982
1,Titanic,Dec,19,1997,200.000000,659.363944,2208.208395
2,Star Wars Ep. VII: The Force Awakens,Dec,18,2015,306.000000,936.662225,2058.662225
3,Jurassic World,Jun,12,2015,215.000000,652.270625,1671.713208
4,The Avengers,May,4,2012,225.000000,623.279547,1519.479547
5,Furious 7,Apr,3,2015,190.000000,353.007020,1518.722794
6,Avengers: Age of Ultron,May,1,2015,330.600000,459.005868,1408.218722
7,Harry Potter and the Deathly Hallows: Part II,Jul,15,2011,125.000000,381.011219,1341.511219
8,Star Wars Ep. VIII: The Last Jedi,Dec,15,2017,200.000000,619.277731,1331.243897
9,Frozen,Nov,22,2013,150.000000,400.738009,1274.234980
10,Beauty and the Beast,Mar,17,2017,160.000000,504.014165,1263.109573
11,The Fate of the Furious,Apr,14,2017,250.000000,225.764765,1237.466026
12,Iron Man 3,May,3,2013,200.000000,408.992272,1215.392272
13,Minions,Jul,10,2015,74.000000,336.045770,1167.245366
14,Captain America: Civil War,May,6,2016,250.000000,408.084349,1153.304495
15,The Lord of the Rings: The Return of the King,Dec,17,2003,94.000000,377.845905,1141.403341
16,Transformers: Dark of the Moon,Jun,29,2011,195.000000,352.390543,1123.790543
17,Skyfall,Nov,8,2012,200.000000,304.360277,1110.526981
18,Transformers: Age of Extinction,Jun,27,2014,210.000000,245.439076,1104.039076
19,The Dark Knight Rises,Jul,20,2012,275.000000,448.139099,1084.439099
20,Toy Story 3,Jun,18,2010,200.000000,415.004880,1069.666004
21,Pirates of the Caribbean: Dead Man’s Chest,Jul,7,2006,225.000000,423.315812,1066.215812
22,Rogue One: A Star Wars Story,Dec,16,2016,200.000000,532.177324,1050.988488
23,Pirates of the Caribbean: On Stranger Tides,May,20,2011,410.600000,241.063875,1045.663875
24,Jurassic Park,Jun,11,1993,63.000000,395.708305,1038.812584
25,Despicable Me 3,Jun,30,2017,75.000000,264.624300,1034.542646
26,Star Wars Ep. I: The Phantom Menace,May,19,1999,115.000000,474.544677,1027.044677
27,Alice in Wonderland,Mar,5,2010,200.000000,334.191110,1025.491110
28,Finding Dory,Jun,17,2016,200.000000,486.295561,1022.617376
29,Zootopia,Mar,4,2016,150.000000,341.268248,1019.920974
...,...,...,...,...,...,...,...
5192,Shooting the Warwicks,Dec,31,2015,0.250000,0.000000,0.000000
5193,Rock the House,Dec,31,2011,0.250000,0.000000,0.000000
5194,Give Me Shelter,Feb,24,2015,0.250000,0.000000,0.000000
5195,Horse Camp,Dec,31,2014,0.250000,0.000000,0.000000
5196,UnDivided,Feb,3,2015,0.250000,0.000000,0.000000
5197,Butterfly,Dec,31,2010,0.250000,0.000000,0.000000
5198,Jesus People,Apr,11,2014,0.250000,0.000000,0.000000
5199,The Frozen,Dec,18,2012,0.250000,0.000000,0.000000
5200,Ink,Nov,10,2009,0.250000,0.000000,0.000000
5201,The Christmas Bunny,Dec,31,2010,0.250000,0.000000,0.000000
5202,Rust,Oct,5,2010,0.250000,0.000000,0.000000
5203,Sunday School Musical,Oct,21,2008,0.250000,0.000000,0.000000
5204,Death Calls,Dec,31,2010,0.290000,0.000000,0.000000
5205,Amidst the Devil's Wings,Dec,8,2015,0.300000,0.000000,0.000000
5206,Anderson's Cross,Dec,31,2010,0.300000,0.000000,0.000000
5207,Walking to Paris,Dec,31,2015,0.300000,0.000000,0.000000
5208,Teeth and Blood,Mar,10,2015,0.300000,0.000000,0.000000
5209,All You Need Is Love,Oct,31,2014,0.300000,0.000000,0.000000
5210,Midnight Cabaret,Aug,7,2013,0.300000,0.000000,0.000000
5211,Some Guy Who Kills People,Jul,3,2012,0.300000,0.000000,0.000000
5212,Death Race 2000,Apr,1,1975,0.300000,0.000000,0.000000
5213,12 Angry Men,Apr,13,1957,0.340000,0.000000,0.000000
5214,Rotor DR1,Oct,20,2015,0.350000,0.000000,0.000000
5215,Royal Kill,Apr,10,2009,0.350000,0.000000,0.000000
5216,Intolerance,Sep,5,1916,0.385907,0.000000,0.000000
5217,Pancakes,Dec,31,2014,0.400000,0.000000,0.000000
5218,Show Me,Nov,4,2005,0.400000,0.000000,0.000000
5219,My Beautiful Laundrette,Apr,1,1986,0.400000,0.000000,0.000000
5220,Rise Of the Entrepreneur - The Search For A Be...,Dec,31,2014,0.450000,0.000000,0.000000
5221,Mutual Friends,Jul,1,2014,0.450000,0.000000,0.000000

In [53]:
from sklearn import preprocessing

In [54]:
le = preprocessing.LabelEncoder()

df['Movie'] = le.fit_transform(df['Movie'])
df['Month'] = le.fit_transform(df['Month'])

In [55]:
df.head()

,Movie,Month,Day,Year,Budget($M),Domestic Gross($M),Worldwide Gross($M)
0,374,2,18,2009,425.0,760.507625,2783.918982
1,4634,2,19,1997,200.0,659.363944,2208.208395
2,3472,2,18,2015,306.0,936.662225,2058.662225
3,2013,6,12,2015,215.0,652.270625,1671.713208
4,3681,8,4,2012,225.0,623.279547,1519.479547

In [56]:
#the input data can be represented using 2 matrics 
#inputs and targets

In [57]:
#Inputs(Movie , Month , Month , Day , Year)
inputs = df[['Movie', 'Month', 'Day', 'Year', 'Budget($M)']]

In [58]:
targets = df[['Domestic Gross($M)',
       'Worldwide Gross($M)']]

In [59]:
inputs = np.asarray(inputs)

In [60]:
targets = np.asarray(targets)

In [61]:
#Before building a model , we need to convert inputs and targets as pytorch tensors

In [62]:
inputs = torch.from_numpy(inputs)
targets = torch.from_numpy(targets)

In [63]:
print(inputs)
print(targets)

tensor([[3.7400e+02, 2.0000e+00, 1.8000e+01, 2.0090e+03, 4.2500e+02],
        [4.6340e+03, 2.0000e+00, 1.9000e+01, 1.9970e+03, 2.0000e+02],
        [3.4720e+03, 2.0000e+00, 1.8000e+01, 2.0150e+03, 3.0600e+02],
        ...,
        [2.5570e+03, 0.0000e+00, 1.0000e+00, 1.9860e+03, 4.0000e-01],
        [3.0580e+03, 2.0000e+00, 3.1000e+01, 2.0140e+03, 4.5000e-01],
        [2.5540e+03, 5.0000e+00, 1.0000e+00, 2.0140e+03, 4.5000e-01]],
       dtype=torch.float64)
tensor([[ 760.5076, 2783.9190],
        [ 659.3639, 2208.2084],
        [ 936.6622, 2058.6622],
        ...,
        [   0.0000,    0.0000],
        [   0.0000,    0.0000],
        [   0.0000,    0.0000]], dtype=torch.float64)

In [64]:
#weights and biases
w = torch.randn(2,5,requires_grad=True)
b = torch.randn(2,requires_grad =True)

In [65]:
#Define the model
def model(x):
    x=x.float()
    return x @ w.t() + b

In [66]:
preds = model(inputs)
print(preds)

tensor([[3361.6958, 1442.4169],
        [ 808.2457, 2156.7871],
        [1594.7355, 1985.0381],
        ...,
        [1547.2225, 1707.2104],
        [1336.0524, 1808.9155],
        [1595.8066, 1729.6536]], grad_fn=<AddBackward0>)

In [67]:
print(targets)

tensor([[ 760.5076, 2783.9190],
        [ 659.3639, 2208.2084],
        [ 936.6622, 2058.6622],
        ...,
        [   0.0000,    0.0000],
        [   0.0000,    0.0000],
        [   0.0000,    0.0000]], dtype=torch.float64)

In [68]:
#MSE loss
def mse(t1, t2):
    t1=t1.double()
    t2 = t2.double()
    diff = t1 - t2
    return torch.sum(diff*diff)/diff.numel()

In [69]:
#computing loss
loss = mse(preds , targets)
print(loss)

tensor(2943753.6824, dtype=torch.float64, grad_fn=<DivBackward0>)

In [70]:
#computing gradient descent
loss.backward()

In [71]:
print(w)
print(w.grad)

tensor([[-0.5139,  1.3255,  0.1073,  1.4406,  1.5427],
        [ 0.1857,  1.1223, -0.3663,  0.6205,  0.3071]], requires_grad=True)
tensor([[2955652.2500,    8848.0918,   26070.7207, 3217521.7500,   51909.5430],
        [4487170.5000,    8954.6084,   26401.8398, 3258363.0000,   48638.6953]])

In [72]:
w.grad.zero_()
b.grad.zero_()
print(w.grad)
print(b.grad)

tensor([[0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.]])
tensor([0., 0.])

In [73]:
#generate predictions
preds = model(inputs)
print(preds)

tensor([[3361.6958, 1442.4169],
        [ 808.2457, 2156.7871],
        [1594.7355, 1985.0381],
        ...,
        [1547.2225, 1707.2104],
        [1336.0524, 1808.9155],
        [1595.8066, 1729.6536]], grad_fn=<AddBackward0>)

In [74]:
#calculate the loss
loss = mse(preds, targets)
print(loss)

tensor(2943753.6824, dtype=torch.float64, grad_fn=<DivBackward0>)

In [75]:
loss.backward()

In [76]:
with torch.no_grad():
    w -= w.grad * 1e-5
    b -= b.grad * 1e-5
    w.grad.zero_()
    b.grad.zero_()

In [77]:
preds = model(inputs)
loss = mse(preds , targets)
print(loss)

tensor(2.8123e+10, dtype=torch.float64, grad_fn=<DivBackward0>)

In [78]:
#training for 10 epochs
for i in range(10):
    preds = model(inputs)
    loss = mse(preds,targets)
    loss.backward()
    with torch.no_grad():
        w -= w.grad * 1e-5
        b -= b.grad * 1e-5
        w.grad.zero_()
        b.grad.zero_()

In [79]:
preds = model(inputs)
loss = mse(preds , targets)
print(loss)

tensor(6.0576e+51, dtype=torch.float64, grad_fn=<DivBackward0>)

In [80]:
preds

tensor([[-2.7556e+25, -3.6054e+25],
        [-9.6957e+25, -1.2686e+26],
        [-7.8191e+25, -1.0230e+26],
        ...,
        [-6.2885e+25, -8.2278e+25],
        [-7.1367e+25, -9.3375e+25],
        [-6.3134e+25, -8.2603e+25]], grad_fn=<AddBackward0>)

In [81]:
targets

tensor([[ 760.5076, 2783.9190],
        [ 659.3639, 2208.2084],
        [ 936.6622, 2058.6622],
        ...,
        [   0.0000,    0.0000],
        [   0.0000,    0.0000],
        [   0.0000,    0.0000]], dtype=torch.float64)